# --------------------------
# PYTHON CACHE
# --------------------------
__pycache__/
*.pyc

# --------------------------
# ENVIRONMENTS
# --------------------------
venv/
env/

# --------------------------
# JUPYTER CHECKPOINTS
# --------------------------
.ipynb_checkpoints/

# --------------------------
# DATA FILES
# (We don't want to upload raw datasets)
# --------------------------
*.csv
*.xlsx
*.parquet
*.json

# --------------------------
# NOTEBOOKS (IGNORING ALL NOTEBOOKS EXCEPT GUIDES)
# We want to ignore *all* notebooks except certain folders
# --------------------------
*.ipynb

# Unignoring the notebooks we DO want:
!/guides/**/*.ipynb

# --------------------------
# BUILD ARTIFACTS
# --------------------------
datalabx.egg-info/
build/
dist/

# --------------------------
# MISC
# --------------------------
.DS_Store
Thumbs.db

# --------------------------
# TESTING / TOOLING
# --------------------------
.pytest_cache/
.mypy_cache/
.coverage

# --------------------------
# DOCS
# --------------------------
site/